html{
    --black: #000;
    --white: #fff;
    --darkgray: #191c24;
    --red: #eb1616;
    --bleu: #6d7293; 
}

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Antonio', sans-serif;
}
body{
    background-color: var(--black);
}
.border{
    border: 1px solid var(--red);
}
.border-w{
    border: 1px solid var(--white);
}

.img-100 {max-width: 87%;}
.w-100 { width: 100%;}
/* Fin paramètre */

/* navbar */
.navbar{
    display: flex;
    background-color: var(--darkgray);
    padding: 2rem;
    align-items: center;
    align-content: flex-start;
    justify-content: space-between;
}
.navbar .links{
    text-align: center;   
}
.navbar .links a{
    text-decoration: none;
    font-size: 1.5rem;
    text-align: center;
    color: var(--bleu);
    margin-left: 10px;
    text-transform: uppercase;
}
.links a:first-child{
    color: var(--red);
}
.links a:last-child{
    border: 1px solid red;
    background-color: var(--red);
    padding: 1rem 2rem;
    color: var(--white);
    text-transform: initial;
}
/* entête */
.entete img{
    /* opacity: 0.8; */
    width: 100%;
    filter: brightness(30%);
}
/* Autre méthode pour mettre une opacité ou un filtre, c'est une méthode qui as plus de chance de fonctionner en fonction du background de la page
/* .entete {
    background-color: var(--black);
}
.entete .img {
    opacity: .5;
} */
.entete{
    position: relatif;
}
.entete .texte_soustitre{
    font-family: 'Antonio', sans-serif;
    font-size: 2.5rem;
    color: white;
    text-transform: uppercase;
    position: absolute;
    top: 55%;
    left: 30%;
    transform: translate(-50% -50%);
    margin-top: 30px;
}
/* About_us */
.d-flex{
    display: flex;
    gap: 2em;
}
.box-image{
    width: 100%;
    color: var(--white);
    position: relative;
}
.box-image .monimage{
    align-items: center;
}
.image_about{
    top: 80%;
    left: -8%;
    padding: 2.5rem 2rem 1.5rem 2.5rem;
    position: absolute;
    background-color: var(--darkgray);
}

.box-title_2 {
    margin-top: 3rem;
}
.box-title_2 .p{
    color: var(--white);
    font-size: 3rem;
    text-transform: uppercase;
}

.box-text {
    margin-top: 5rem;
}
.ligne2 {
    margin-top: 3rem;
}
.ligne2 h3{
    font-size: 3rem;
    color: var(--white);
    margin-bottom: 2rem;
    text-transform: uppercase;
}
.text_about{
    width: 100%;
    margin-left: 4rem;
}
.text_about .box-title  {
    width: 100%;
}
.text_about .box-title h3 {
    color: var(--red);
    width: 15%;
    text-align: center;
    padding: .5rem 1rem;
    background-color: var(--darkgray);
}

.about_us {
    margin-top: 5rem;
    padding: 9rem;
}

.about_us .image_about .monimage{
    position: relative;
}
.text_about .title{
    width: 20%;
    display: flex;
    justify-content: center;
    padding: .1rem;
    background-color: var(--darkgray);
    color: var(--red);
    font-size: 3rem;
    /* text-align: center; */
}
.textesurimage1{
    padding: 2rem 3rem 2.5rem 1.5rem;
}
.about_us .image_about .textesurimage1{
    font-size: 3em;
    letter-spacing: 5;
    text-transform: uppercase;
    color: var(--red);
}
.textesurimage2{
    font-size: 3em;
    text-transform: uppercase;
}
.about_us .text_about h2{
    font-size: 2.5em;
}
.about_us .text_about h1{
    font-size: 3em;
}
.text_about p{
    font-size: 1.5em;
    color: var(--bleu);
}



